*.xcuserstate
*.pbxproj
*.out
*.o
*.mod
*.xdmf
.#*
*.jpg
*.pdf
*.png
*.svg
*.swp
*.dat
*~
sauve*
incompact3d
xcompact3d
data/
out/
stats/
planes/
.DS_Store
TAGS
lint.txt
\#*\#
*.log
docs/_build/
build*
.cproject
.project
.settings
