*.out
*.o
*.mod
*.smod
*.xdmf
.#*
*.jpg
*.pdf
*.png
*.svg
*.swp
*.dat
*~
sauve*
incompact3d
xcompact3d
post
data/
out/
stats/
planes/
.DS_Store
TAGS
lint.txt
\#*\#
*.log
docs/_build/
*.bp4
*.hdf5
checkpoint