*.xcuserstate
*.xc*
*.pbxproj
*.out
*.o
*.mod
*.smod
*.xdmf
.#*
*.jpg
*.pdf
*.svg
*.swp
*~
sauve*
incompact3d
xcompact3d
out/
stats/
planes/
post/
.DS_Store
TAGS
lint.txt
\#*\#
*.log
docs/_build/
build*
.cproject
.project
.settings
*.bp4
*.hdf5
checkpoint
restart*
forces.dat*
data/
